.div-com-neto * {
    border:1px solid black;
}
div+p {
    background: yellow;
} 
.div-com-paragrafo~p {
    background: red;
}
ul > li > div {
    border: 1px solid black;  
}
div.container p ~ a {
  margin-left: 60px;  
}